
@import '../var.scss';
.app{
    height: 100%;
    &-header{
        height:$headerHeight;
        background: #fff;
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 3;
        display: flex;
        align-items: center;
        box-shadow: 0 5px 8px 0 rgb(114 181 243 / 13%);
        .logo{
            width: 100px;
        }
    }
    &-content{
        display: flex;
        padding-top:$headerHeight;
        height:100%;
        overflow: auto;
        background: #fff;
     

        &-left{
            border-right:solid 1px #eee;
        }
        &-center{
            padding:10px;
            flex: 1;
        }
        &-right{
            width:$LayoutRight;
            border-left:solid 1px #eee;
            
        }
    }
}